html,
body,
body #oui
{
  background-color: #222;
  color: white;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

body #oui
{
  align-items: center;
  display: flex;
  justify-content: center;
}

#horloge
{
  align-items: center;
  background: #444;
  display: flex;
  height: 100vmin;
  justify-content: center;
  width: 100vmin;
}

.contenant
{
  box-sizing: border-box;
  height: 1vmin;
  position: absolute;
  top: 50vmin;
  transition: transform 0.1s ease-in-out;
  width: 100vmin;
}

.aiguille
{
  background: #600;
  border: solid 0.1vmin #111;
  box-sizing: border-box;
  left: 49.5%;
  position: absolute;
  transition: transform 0.1s ease-in-out;
}

#heures .aiguille
{
  border-radius: 1.3vmin;
  height: 1.3vmin;
  width: 25vmin;
}

#minutes .aiguille
{
  border-radius: 1vmin;
  height: 1vmin;
  width: 40vmin;
}

#secondes .aiguille
{
  border-radius: 0.7vmin;
  height: 0.7vmin;
  width: 45vmin;
}

#cercle
{
  border: solid 1vmin #400;
  border-radius: 50%;
  height: 95vmin;
  width: 95vmin;
}

.chiffre
{
  font-size: 4vmin;
  position: absolute;
  z-index: 10;
}

.zero
{
  left: 49.4vmin;
  top: 21vmin;
}

.un.heure
{
  left: 62vmin;
  top: 25vmin;
}

.deux.heure
{
  left: 72vmin;
  top: 35.5vmin;
}

.trois.heure
{
  left: 75.5vmin;
  top: 48.4vmin;
}

.quatre.heure
{
  left: 72vmin;
  top: 61.4vmin;
}

.cinq.heure
{
  left: 62vmin;
  top: 72vmin;
}

.six.heure
{
  left: 49.4vmin;
  top: 76vmin;
}

.sept.heure
{
  left: 35vmin;
  top: 72vmin;
}

.huit.heure
{
  left: 26vmin;
  top: 61.4vmin;
}

.neuf.heure
{
  left: 22.4vmin;
  top: 48.4vmin;
}

.dix.heure
{
  left: 26vmin;
  top: 35.5vmin;
}

.onze.heure
{
  left: 35vmin;
  top: 25vmin;
}

#zero
{
  left: 49vmin;
  top: 5vmin;
}

#cinq
{
  left: 71vmin;
  top: 10vmin;
}

#dix
{
  left: 86vmin;
  top: 26vmin;
}

#quinze
{
  left: 92vmin;
  top: 48vmin;
}

#vingt
{
  left: 86vmin;
  top: 70vmin;
}

#vingtcinq
{
  left: 70vmin;
  top: 86vmin;
}

#trente
{
  left: 48vmin;
  top: 92vmin;
}

#trentecinq
{
  left: 26vmin;
  top: 86vmin;
}

#quarante
{
  left: 10vmin;
  top: 70vmin;
}

#quarantecinq
{
  left: 5vmin;
  top: 48vmin;
}

#cinquante
{
  left: 11vmin;
  top: 26vmin;
}

#cinquantecinq
{
  left: 26vmin;
  top: 10vmin;
}


.trait
{
  height: 0.2vmin;
  position: absolute;
  width: 95vmin;
}

.trait.grand
{
  background: linear-gradient(to right, #500 5%, transparent 5%, transparent 95%, #500 95%);
}

.trait.petit
{
  background: linear-gradient(to right, #500 2%, transparent 2%, transparent 98%, #500 98%);
}

.grand:nth-of-type(2)
{
  transform: rotate(30deg);
}

.grand:nth-of-type(3)
{
  transform: rotate(60deg);
}

.grand:nth-of-type(4)
{
  transform: rotate(90deg);
}

.grand:nth-of-type(5)
{
  transform: rotate(120deg);
}

.grand:nth-of-type(6)
{
  transform: rotate(150deg);
}

.petit:nth-of-type(7)
{
  transform: rotate(48deg);
}

.petit:nth-of-type(8)
{
  transform: rotate(54deg);
}

.petit:nth-of-type(9)
{
  transform: rotate(66deg);
}

.petit:nth-of-type(10)
{
  transform: rotate(72deg);
}

.petit:nth-of-type(11)
{
  transform: rotate(78deg);
}

.petit:nth-of-type(12)
{
  transform: rotate(84deg);
}

.petit:nth-of-type(13)
{
  transform: rotate(96deg);
}

.petit:nth-of-type(14)
{
  transform: rotate(102deg);
}

.petit:nth-of-type(15)
{
  transform: rotate(108deg);
}

.petit:nth-of-type(16)
{
  transform: rotate(114deg);
}

.petit:nth-of-type(17)
{
  transform: rotate(126deg);
}

.petit:nth-of-type(18)
{
  transform: rotate(132deg);
}

.petit:nth-of-type(19)
{
  transform: rotate(138deg);
}

.petit:nth-of-type(20)
{
  transform: rotate(144deg);
}

.petit:nth-of-type(21)
{
  transform: rotate(156deg);
}

.petit:nth-of-type(22)
{
  transform: rotate(162deg);
}

.petit:nth-of-type(23)
{
  transform: rotate(168deg);
}

.petit:nth-of-type(24)
{
  transform: rotate(174deg);
}

.petit:nth-of-type(25)
{
  transform: rotate(6deg);
}

.petit:nth-of-type(26)
{
  transform: rotate(12deg);
}

.petit:nth-of-type(27)
{
  transform: rotate(18deg);
}

.petit:nth-of-type(28)
{
  transform: rotate(24deg);
}

.petit:nth-of-type(29)
{
  transform: rotate(36deg);
}

.petit:nth-of-type(30)
{
  transform: rotate(42deg);
}
